@using CoupleEmployees.Library.ViewModels.Employees
@model IEnumerable<CoupleEmployeesViewModel>


<section class="probootstrap-cover overflow-hidden relative" style="background-image: url('/img/bg_1.jpg');" data-stellar-background-ratio="0.5" id="section-home">
    <div class="overlay"></div>
    <div class="container">
        
        <table class="table table-striped table-bordered text-center text-dark">
            <tr>
                <th>EmployeeId#1</th>
                <th>EmployeeId#2</th>
                <th>ProjectId</th>
                <th>Days Worked</th>
            </tr>

            @foreach (var couple in Model)
            {
                <tr>
                    <td>@couple.FirstEmployeeId</td>
                    <td>@couple.SecondEmployeeId</td>
                    <td>@couple.ProjectId</td>
                    <td>@couple.WorkedDays</td>
                </tr>
            }

        </table>
    </div>
</section>



